.menu{
  position: fixed;
  z-index: 6;
  
  top: 0;
  left: 0;

  width: 0%;
  height: 100%;

  overflow-x: hidden;

  background-color: #2D2D2D;

  @include element('content'){
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh + 70px);

    @media screen and (orientation: landscape) and (min-width: 822px){
      flex-flow: row;
      text-align: unset;

      .menu__list--top{
          padding-top: 0;
          text-align: left;
      }
      .menu__list--bottom{
          text-align: right;
        }
      }

    }

  @include element('list'){

    @include modifier('top'){
      padding-top: calc(20vh - 50px);
    }

    @include modifier('bottom'){

      .menu__link{
        margin-bottom: 0;
        span{
          color: $color-offset--white;
          font-size: .9rem;
        }
        .link-anchor{
          color: $color-offset--light-grey;
          font-size: 0.8rem;
          text-transform: unset;

          &:last-of-type{
            margin-top: 10px;
            display: block;
          }
        }
      }
    }
  }

  @include element('link'){
    margin-bottom: 1.875rem;
    &:last-of-type{
      margin-bottom: 0;
      margin-top: 1.8rem;
    }
    .link-anchor{
      cursor: pointer;
      color: $color-offset--light-grey;
      font-family: $type-font--cormorant-garamond;
      font-size: 1.25rem;
      letter-spacing: 0.175em;
      text-transform: uppercase;
      transition: all 0.6s;

      @media screen and(orientation: landscape) and (max-width: 815px){
        font-size: 1.2rem;
      }
    }
    .active{
      color: $color-offset--green;
    }
  }
}