section.section--communication.section
    .container  
        .row.row--tablet-center
            .col-xs-12.col-sm-10.col-md-12.col-lg-10
                .block-holder
                    div.section__top-line
                    p.section__tagline
                        | communcation
                h1.section__title
                    | We speak your <span class="type--color-green">language</span>
                .row    
                    .communication.col-xs-12.col-sm-8.col-xs-landscape-8.col-md-7.col-lg-6
                        p.communication__description
                            | We offer personal injury legal services in Hindi, Punjabi, and 
                            | Urdu. We are happy to accommodate clients speaking other 
                            | languages through the use of interpreters.
                    