.land
    include ../layout/_navigation.pug

    main(class="page-base")
        div( class="page-base__image page-base__image--land")
        div( class="page-base__texture")
            div( class="texture")
        div(class="page-base__grid")
            div(id="js-grid-inner" class="inner")
            div(id="js-grid-middle" class="middle")

    div(class="container")
        div(class="row u-full-height")
            div(class="intro col-xs-12 col-xs-landscape-10 col-sm-9 col-md-12 col-lg-10")
                p(class="intro__content-identifier js-intro__content-identifier")
                    | Home
                h1(id="js-intro-heading" class="intro__heading")
                    |Welcome to Cervini Bhatia 
                    |Professional Corporation. A Boutique Law Firm 
                    |Specializing in Personal Injury
                p(id="js-intro-description" class="intro__description type--color-green")
                    | 20+ years of experience 
                div(class="intro__scroll")
                   a(href="" class="scroll type--captialize") scroll
                        span(class="scroll-indicator")
                   