.land
    nav(class="nav")
        div(class="nav__logo")
            a(href="index.html")
                img(src="/images/logo-symbol.svg" alt="" width="60" height="40")
            button(class="nav__hamburger")
                span(class="burger burger1")
                span(class="burger burger2")
                span(class="burger burger3")
                span(class="burger burger4")
                span(class="burger burger5")

    main(class="page-base")
        div( class="page-base__image page-base__image--land")
        div( class="page-base__texture")
            div( class="texture")
        div(class="page-base__grid")
            div(id="js-grid-inner" class="inner")
            div(id="js-grid-middle" class="middle")

    div(class="container")
        div(class="row u-full-height")
            div(class="intro col-xs-12 col-sm-10 col-md-10 col-lg-10")
                p(id="js-intro-content-identifier" class="intro__content-identifier")
                    | Home
                h1(id="js-intro-heading" class="intro__heading")
                    |Welcome to Cervini Bhatia 
                    |Professional Corporation. A Boutique Law Firm 
                    |Specializing in Personal Injury
                p(id="js-intro-description" class="intro__description type--color-green")
                    | 20+ years of experience 
                div(class="intro__scroll")
                   a(href="" class="scroll type--captialize") scroll
                        span(class="scroll-indicator")
                   