#js-menu.menu
    .container
       .menu__content 
            ul.menu__list.menu__list--top
              li.menu__link
                a(href="index.html" class="link-anchor active") About
              li.menu__link
                a(href="team.html" class="link-anchor") Team
              li.menu__link
                a(href="practice.html" class="link-anchor") Practice
              li.menu__link
                a(href="news.html" class="link-anchor") Press
                
            ul.menu__list.menu__list--bottom.u-display-none-landscape-xs
              li.menu__link.u-margin-bottom--small
                a.link-anchor <span>Telephone:</span>
                    | 1 905 890 7200 
              li.menu__link.u-margin-bottom--small
                a.link-anchor <span>Admin Email:</span> poonam@cervinibhatia.com 
              li.menu__link
                a.link-anchor <span>Address:</span> 450 Britannia Road East,      <br> Suite A <br> Mississauga, ON <br> L4Z 1X9 
              li.menu__link
                a.link-anchor Harp Designs
            
        

   	     
       
      
       
       

          
            


    
       