#js-menu.menu
    .container
       .menu__content 
            ul.menu__list.menu__list--top
              li.menu__link
                a.link-anchor.active About us
              li.menu__link
                a.link-anchor Our Team
              li.menu__link
                a.link-anchor areas of practice
              li.menu__link
                a.link-anchor news &amp; media
                
            ul.menu__list.menu__list--bottom.u-display-none-landscape-xs
              li.menu__link.u-margin-bottom--small
                a.link-anchor <span>Telephone:</span> 
                    | 1 905 890 7200 
              li.menu__link.u-margin-bottom--small
                a.link-anchor <span>Admin Email:</span> poonam@cervinibhatia.com 
              li.menu__link
                a.link-anchor <span>Address:</span> 450 Britannia Road East, 
                    | SuiteMississauga, ON L4Z 1X9 
              li.menu__link
                a.link-anchor Harp Designs
            
        

   	     
       
      
       
       

          
            


    
       