section.section--firm-overview.section
    .container  
        .row.row--tablet-center
            .col-xs-12.col-sm-10.col-md-12.col-lg-10
                .block-holder
                    div.section__top-line
                    p.section__tagline
                        | get in touch
                h1.section__title
                    | Contact <span class="type--color-green">us</span>