//@import '../abstracts/_mixins.scss';
@import '../abstracts/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

button{
  outline:none !important;
}
button::-moz-focus-inner {
  border: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $type-font--raleway;
  color: $color-offset--white;
  line-height: 1.5;
  position: relative;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background: #1b1b1b;
}

p{
  font-size: 1.25rem;

  @media screen and (min-width: 700px){
    font-size: 1.125rem;
  }
}

ul{
  text-decoration: none;
  li{
    list-style-type: none;
  }
}

//::selection {
//  background-color: $color-primary;
//  color: $color-white;
//}