.js-menu-overlay.menu-overlay
.js-menu.menu
    .menu__inner
       .menu__navigation 
            ul.menu__list--navigation
              li.menu__item
                .overflow-hidden-box
                  a(href="index.html" data-item="about" class="item-link") About
                div.item-line.js-active-item-line
              li.menu__item
                .overflow-hidden-box
                  a(href="team.html" data-item="team" class="item-link") Team
                div.item-line.js-active-item-line
              li.menu__item
                .overflow-hidden-box
                  a(href="services.html" data-item="services" class="item-link") Services
                div.item-line.js-active-item-line
              li.menu__item
                .overflow-hidden-box
                  a(href="news.html" data-item="news" class="item-link") News
                div.item-line.js-active-item-line

            ul.menu__list--contact    
              li.menu__item
                a(href="tel: 1 905 890 7200" class="item-link") <span>Telephone:</span>
                    | 1 905 890 7200 
              li.menu__item
                a(href="mailto:poonam@cervinibhatia.com?" class="item-link") <span>Email:</span> poonam@cervinibhatia.com 
              li.menu__item
                a(href="https://www.google.com/maps/dir/''/cervini+bhatia+professional+corporation+mississauga,+on+l4z+1x9/@43.6327326,-79.7356278,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x882b3f5bde3336eb:0x5d41b65cc03e70!2m2!1d-79.665588!2d43.632754" target="_blank" class="item-link") <span>Address:</span> 450 Britannia Road East,<br> Suite A <br> Mississauga, ON <br> L4Z 1X9 
            .menu__footer
              p.company-copyright &copy; cervini bhatia
              a(href="www.designsbyharp.com" target="_blank" class="developer-name") harp designs
            
        

   	     
       
      
       
       

          
            


    
       