doctype html
html
  head.
    <meta charset="UTF-8">
    <title>News - Cervini Bhatia PC</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  body   
    include ./modules/_menu.pug
    include ./layout/_navigation.pug
    main(class="page-base")
        div( class="page-base__image page-base__image--land")
        div( class="page-base__texture")
            div( class="texture")
        div(class="page-base__grid")
            div(id="js-grid-inner" class="inner")
            div(id="js-grid-middle" class="middle")

    div(class="row u-full-height")
            section.section
                .container  
                    .row.row--tablet-center
                        .col-xs-12.col-sm-10.col-md-8.col-lg-7
                            .block-holder
                                div.section__top-line
                                p.section__tagline
                                    | news &amp; media
                            h1.section__title
                                | We offer you more <br>
                                |<span class="type--color-green">than just experience</span>
                            p.section__description
                            | Every day we write new chapters. But some days we open the book just to read an old chapter – all over again. This is our story, our legacy. Some are short stories of action; some are long novels of adventures. And some of the main characters were like superheroes. Driven by passion and pride, showing courage and humbleness. 
            section.news.section
                .container
                    .row
                        .col-xs-12.col-sm-10.col-md-8.col-lg-8.u-margin-center
                            .news__company
                                h1 Toronto Life
                                p.news__title
                                | How Bullying Became The Crisis of A Generation                          
    
                                     

                

                
                    
