section.footer.section
    .container  
        .row.row--tablet-center
            .col-xs-12.col-sm-10.col-md-12.col-lg-10
                .block-holder
                    div.section__top-line
                    p.section__tagline
                        | get in touch
                h1.section__title
                    | Contact <span class="type--color-green">us</span>
                .menu-list-holder.row    
                    ul.footer__menu.footer__menu-list--captions
                        li.footer__link
                            p.caption email
                    ul.footer__menu.footer__menu-list--anchors.u-margin-bottom--small 
                        li.footer__link
                            a(ref="" class="anchors") daniela@cervinibhatia.com
                            a(ref="" class="anchors") shiwali@cervinibhatia.com
                            a(ref="" class="anchors") poonam@cervinibhatia.com  

                    ul.footer__menu.footer__menu-list--captions
                        li.footer__link
                            p.caption Telephone
                    ul.footer__menu.footer__menu-list--anchors 
                        li.footer__link
                            a(ref="" class="anchors") 1 905 890 7200 

                    ul.footer__menu.footer__menu-list--captions
                        li.footer__link
                            p.caption address
                    ul.footer__menu.footer__menu-list--anchors 
                        li.footer__link
                            a(ref="" class="anchors") 450 Britannia Road East, Suite A Mississauga, ON  L4Z 1X9         
                                        
